/********** Universal **********/

html, body {
  height: 100%;
  margin: 0;
}

@font-face {
    font-family: comicjames;
    src: url(fonts/ComicJames.ttf);
}

a {
  text-decoration: none;
  color: black;
}

/********** Home Page **********/

#background-home {
  height: 100%;
  background-image: url("highres/main-page.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
}

#home-text-container{
  position: absolute;
  left: 5%;
  top: 10%;
  font-family: comicjames;
}

#home-title{
  font-size: 7vw;
  letter-spacing: 5.3vw;
}

#home-subtitle{
  margin-top: 20px;
  padding-bottom: 20px;
  font-size: 2.2vw;
}

#home-menu-continer{}

.home-menu-item{
  margin-top: 40px;
  font-size: 3vw;
  letter-spacing: 3vw;
  background-color: white;
  padding: 3px;
}

#home-image-small{
  width: 100%;
  margin-bottom: -5px;
  display: none;
}

/* Home resize media query */
@media (max-width: 1000px) and (min-width: 700px) {
  #background-home{
    background-size: auto 80%;
  }
}

@media (max-width: 700px) {
  #home-title{
    font-size: 14vw;
    letter-spacing: 10.6vw;
  }
  #home-subtitle{
    font-size: 4.4vw;
  }
  .home-menu-item{
    font-size: 6vw;
    letter-spacing: 6vw;
  }
  #background-home {
    display: none;
  }
  #home-text-container {
    position: static;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }
  #home-image-small {
    display: inline;
  }
}

/********** Bio page **********/

/********** Event page **********/

/********** Portfolio page **********/

/********** Contact page **********/
