/********** Universal **********/

html, body {
  height: 100%;
  margin: 0;
}

@font-face {
    font-family: comicjames;
    src: url(fonts/ComicJames.ttf);
}

a {
  text-decoration: none;
  color: black;
}

.text {
  font-family: comicjames;
}

#nav-bar {
  position: absolute;
  width: 100%;
  bottom: 30px;
  margin-top: 50px;
  text-align: center;
  font-size: 2.6vw;
  word-spacing: 1vw;
}

.nav-item {
  margin-top: 10px;
}

@media (max-width: 800px) {
    #nav-bar {
      font-size: 5.2vw;
      word-spacing: 2vw;
      position: static;
    }
}

/********** Home Page **********/

#background-home {
  height: 100%;
  background-image: url("highres/main-page.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
}

#home-text-container{
  position: absolute;
  left: 5%;
  top: 10%;
}

#home-title{
  font-size: 7vw;
  letter-spacing: 5.3vw;
}

#home-subtitle{
  margin-top: 20px;
  padding-bottom: 20px;
  font-size: 2.2vw;
}

#home-menu-continer{}

.home-menu-item{
  margin-top: 40px;
  font-size: 3vw;
  letter-spacing: 3vw;
  background-color: white;
  padding: 3px;
}

#home-image-small{
  width: 100%;
  margin-bottom: -5px;
  display: none;
}

/* Home resize media query */
@media (max-width: 1000px) and (min-width: 700px) {
  #background-home{
    background-size: auto 80%;
  }
}

@media (max-width: 700px) {
  #home-title{
    font-size: 14vw;
    letter-spacing: 10.6vw;
  }
  #home-subtitle{
    font-size: 4.4vw;
  }
  .home-menu-item{
    font-size: 6vw;
    letter-spacing: 6vw;
  }
  #background-home {
    display: none;
  }
  #home-text-container {
    position: static;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }
  #home-image-small {
    display: inline;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}

/********** Bio/Contact pages **********/

#bio-text-container {
  float: right;
  position: absolute;
  width: 40%;
  left: 55%;
  top: 15%;
  height: 70%;
}

#bio-title {
  text-align: center;
  padding-left: 7vw;
  font-size: 8vw;
  letter-spacing: 8vw;
}

#contact-title {
  text-align: center;
  padding-left: 2vw;
  font-size: 4vw;
  letter-spacing: 4vw;
}

#bio-text {
  margin-top: 40px;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  text-align: justify;
}

#bio-picture {
  float: left;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
  max-width: 750px;
  background-image: url("highres/bio.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: left bottom;
}

#contact-picture {
  float: left;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
  background-image: url("highres/contact-page.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: left bottom;
}

@media (max-width: 800px) {
  #bio-text-container {
    float: none;
    position: static;
    width: 90%;
    margin-top: 30%;
    margin-left: 5%;
  }

  #bio-title {
    text-align: center;
    padding-left: 14vw;
    font-size: 16vw;
    letter-spacing: 16vw;
  }

  #contact-title {
    text-align: center;
    padding-left: 4vw;
    font-size: 8vw;
    letter-spacing: 8vw;
  }

  #bio-picture {
    position: static;
    width: 100%;
    height: 100%;
    margin-top: -200px;
  }

  #contact-picture {
    position: static;
    height: 100%;
    width: 100%;
    margin-top: -200px;
  }

}

/********** Event page **********/

/********** Portfolio page **********/

/********** Contact page **********/
